{% trans_default_domain "cms" %}
{% extends 'cms/layout.html.twig' %}

{% block content_title %}
	<h3 class="page-title">{% trans with { '%entity%': 'Mappings'|trans } %}%entity% list{% endtrans %}</h3>
{% endblock %}

{% block content_main %}

	<div class="row margin-bottom-20">
		<div class="col-md-12">
			<a class="btn btn-sm green" href="{{ path('cms_mapping_edit') }}"><i class="fa fa-plus-square"></i> {% trans %}Add new mapping{% endtrans %}</a>
		</div>
	</div>

	{% for key, collection in collections %}
		{% include 'cms/mapping/_list.html.twig' with {'id': key, 'name': collection.name, 'entities': collection.entities} %}
	{% endfor %}

{% endblock %}

{% block stylesheets %}
	{% embed 'cms/core/stylesheets.html.twig' %}
		{% block page_stylesheets %}
			{{ encore_entry_link_tags('cms_app_datatable') }}
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block javascripts %}
	{% embed 'cms/core/javascripts.html.twig' %}
		{% block page_scripts %}
			{{ encore_entry_script_tags('cms_app_datatable') }}
			<script>
				jQuery(document).ready(function() {
					$(function(){
						Tutoriux.initDataTable({
							"sortIgnore": [3],
							"searchIgnore": [2,3]
						});
					});
				});
			</script>
		{% endblock %}
	{% endembed %}
{% endblock %}