{% trans_default_domain "media_manager" %}
{% apply spaceless %}

    <div class="row">
        <div class="col-md-12">
            <div class="note note-info">
                <p class="block">
                    {% trans %}Drag medias files or use the add files button{% endtrans %}.<br>
                    {% trans %}Allowed files are{% endtrans %}
                    {% if type in ['any', 'image'] %}<strong>png</strong>, <strong>jpeg</strong>, <strong>gif</strong>{% endif %}{% if type == 'any' %}, {% endif %}{% if type in ['any', 'document'] %}<strong>pdf</strong>{% endif %}.
                </p>
            </div>
        </div>
    </div>

    <form id="fileupload" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn green fileinput-button">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span>{% trans %}Add files{% endtrans %}...</span>
                    <input type="file" name="files[]" multiple="">
                </span>&nbsp;
                <button type="submit" class="btn blue start">
                    <i class="fa fa-upload"></i>&nbsp;
                    <span>{% trans %}Start upload{% endtrans %}</span>
                </button>&nbsp;
                <button type="reset" class="btn warning cancel">
                    <i class="fa fa-trash-o"></i>&nbsp;
                    <span>{% trans %}Clear all{% endtrans %}</span>
                </button>&nbsp;
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;">
                    </div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">
                    &nbsp;
                </div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped clearfix">
            <tbody class="files">
            </tbody>
        </table>
    </form>

{% endapply %}