{% if sections %}
	{% for section in sections %}
		<li{% if section.isSelectedElement %} class="active"{% endif %}>
			<a href="{% if section.route %}{{ path(section.route, section.routeParams) }}{% endif %}">
				<i class="fa fa-angle-right"></i>{{ section }}
			</a>
		</li>
	{% endfor %}
{% endif %}