{% extends 'cms/layout.html.twig' %}

{% block content_title %}
    <h3 class="page-title">
        Dashboard
        <small>{% trans %}Welcome{% endtrans %}</small>
    </h3>
{% endblock %}

{% block content %}

{% endblock %}