.homePage_action {
	.portlet.intro {
		h3 {
			font-weight: 400;
		}

		p {
			line-height: 1.6;
		}

		.btn {
			margin-top: 40px;
		}

		@media (min-width: 480px) {
			.btn {
				margin-left: 20px;
			}
		}
	}

	.portlet.need-help {
		h2 {
			font-weight: 400;
		}

		p {
			line-height: 1.6;
		}
	}
}